.mainView {
    background-image: linear-gradient(to right top, #ecece7, #d2d3ce, #b9bab6, #a1a29f, #898b88);   
    width: 100%;
}

.leftSection {
    padding: 10%;
}

.rightSection {
    padding: 45px;
}
.sweezonHeading {
    color: #E6527A;
    font-weight: bold;
    font-size: 4.5rem;
}

.bakersDesc{
    color: #000;
    font-weight: bold;
    font-size: 22px;
}

@media screen and (max-width: 960px) {
    .leftSection {
        text-align: center;
    }
    
    .rightSection {
        text-align: center;
    }
}